
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}
.Manager_Main_Content {
  box-sizing: border-box;
  padding: 4.1rem 1.9rem 1.7rem 1.9rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.Manager_Main_Content .logo {
  margin-bottom: 5.6rem;
  width: 45rem;
  height: 7.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.Manager_Main_Content .user_part {
  margin-right: 4.5rem;
  width: calc(100% - 4.5rem);
  height: 79.7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.Manager_Main_Content .user_part .usr_info {
  margin-right: 5.6rem;
  width: 38.4rem;
  height: 100%;
  position: relative;
  background-color: rgba(244, 246, 226, 0.3000000119);
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.Manager_Main_Content .user_part .usr_info .profile_img {
  width: 15rem;
  height: 15rem;
  position: absolute;
  left: 11.7rem;
  top: 2.7rem;
  border: solid 0.05rem #dbdbdb;
  box-sizing: border-box;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/static/assets/profileimg_basic.png');
  border-radius: 7.5rem;
}
.Manager_Main_Content .user_part .usr_info .admin {
  width: 6.1rem;
  height: 2.2rem;
  position: absolute;
  left: 16.2rem;
  top: 18.3rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.0625;
  color: #ff9292;
  font-family: Changa One, 'Source Sans Pro';
  white-space: nowrap;
}
.Manager_Main_Content .user_part .usr_info .nickname {
  width: 5.8rem;
  height: 1.7rem;
  position: absolute;
  left: 14.9rem;
  top: 21rem;
  display: flex;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.085;
  color: #000000;
  font-family: Gemunu Libre, 'Source Sans Pro';
  white-space: nowrap;
}
.Manager_Main_Content .user_part .usr_info .id {
  width: 8.3rem;
  height: 1.6rem;
  position: absolute;
  left: 14.9rem;
  top: 23.5rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.085;
  color: #767676;
  font-family: Gemunu Libre, 'Source Sans Pro';
  white-space: nowrap;
}
.Manager_Main_Content .user_part .usr_info .info {
  width: 36.4rem;
  height: 29.55rem;
  position: absolute;
  left: 1.1rem;
  top: 29.3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.Manager_Main_Content .user_part .usr_info .info .level {
  margin: 0rem 0rem 1.9rem 0.4rem;
  box-sizing: border-box;
  padding: 0rem 1.1rem 0rem 1.975rem;
  width: 36rem;
  height: 3.45rem;
  border-bottom: solid 0.1rem #b6b6b6;
  flex-shrink: 0;
  display: flex;
  align-items: flex-end
}
.Manager_Main_Content .user_part .usr_info .info .level .level_part {
  width: 100%;
  height: 2.85rem;
  display: flex;
  align-items: flex-end;
}

.Manager_Main_Content .user_part .usr_info .info .level .level_part .level_label {
  margin: 0rem 21.9rem 0.4rem 1.175rem;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.1725;
  text-transform: uppercase;
  color: #767676;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.Manager_Main_Content .user_part .usr_info .info .level .level_part .level_output {
  margin-right: 0.2rem;
  text-align: right;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.1725;
  text-transform: uppercase;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.Manager_Main_Content .user_part .usr_info .info .level .level_part .level_txt {
  margin-bottom: 0.1rem;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.1725;
  text-transform: uppercase;
  color: #767676;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.Manager_Main_Content .user_part .usr_info .info .money {
  margin: 0rem 0.3rem 6.075rem 0.1rem;
  box-sizing: border-box;
  padding: 0rem 0.7rem 0rem 1.9rem;
  width: calc(100% - 0.4rem);
  height: 3.7rem;
  border-bottom: solid 0.1rem #b6b6b6;
  flex-shrink: 0;
}
.Manager_Main_Content .user_part .usr_info .info .money .money_part {
  width: 100%;
  height: 3.35rem;
  display: flex;
  align-items: flex-end;
}

.Manager_Main_Content .user_part .usr_info .info .money .money_part .money_label {
  margin: 0rem 21.9rem 0.75rem 1.175rem;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.1725;
  text-transform: uppercase;
  color: #767676;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.Manager_Main_Content .user_part .usr_info .info .money .money_part .money_output {
  margin: 0rem 1.1rem 0.05rem 0rem;
  text-align: right;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.1725;
  text-transform: uppercase;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.Manager_Main_Content .user_part .usr_info .info .money .money_part .money_txt {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.1725;
  text-transform: uppercase;
  color: #767676;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.Manager_Main_Content .user_part .usr_info .info .total {
  margin: 0rem 0.3rem 2.025rem 0.1rem;
  box-sizing: border-box;
  padding: 0rem 1.3rem 0rem 2.275rem;
  width: calc(100% - 0.4rem);
  height: 3.225rem;
  border-bottom: solid 0.1rem #b6b6b6;
  flex-shrink: 0;
}
.Manager_Main_Content .user_part .usr_info .info .total .total_part {
  width: 100%;
  height: 2.825rem;
  display: flex;
  align-items: center;
}
.Manager_Main_Content .user_part .usr_info .info .total .total_part .total_label {
  margin: 0rem 19rem 0.375rem 1.175rem;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.1725;
  text-transform: uppercase;
  color: #767676;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.Manager_Main_Content .user_part .usr_info .info .total .total_part .total_output {
  margin: 0.425rem 1.1rem 0rem 0rem;
  text-align: right;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.1725;
  text-transform: uppercase;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.Manager_Main_Content .user_part .usr_info .info .total .total_part .total_txt {
  margin-top: 0.225rem;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.1725;
  text-transform: uppercase;
  color: #767676;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.Manager_Main_Content .user_part .usr_info .info .complete {
  margin: 0rem 0.3rem 2.05rem 0.1rem;
  box-sizing: border-box;
  padding: 0rem 1.3rem 0rem 2.275rem;
  width: calc(100% - 0.4rem);
  height: 3.575rem;
  border-bottom: solid 0.1rem #b6b6b6;
  flex-shrink: 0;
}
.Manager_Main_Content .user_part .usr_info .info .complete .complete_part {
  width: 100%;
  height: 3.175rem;
  display: flex;
  align-items: center;
}
.Manager_Main_Content .user_part .usr_info .info .complete .complete_part .complete_label {
  margin: 0rem 20.5rem 0.025rem 1.175rem;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.1725;
  text-transform: uppercase;
  color: #767676;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.Manager_Main_Content .user_part .usr_info .info .complete .complete_part .complete_output {
  margin: 0.775rem 1.1rem 0rem 0rem;
  text-align: right;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.1725;
  text-transform: uppercase;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.Manager_Main_Content .user_part .usr_info .info .complete .complete_part .complete_txt {
  margin-top: 0.775rem;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.1725;
  text-transform: uppercase;
  color: #767676;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.Manager_Main_Content .user_part .usr_info .info .ing {
  margin-right: 0.4rem;
  box-sizing: border-box;
  padding: 0rem 1.3rem 0rem 2.25rem;
  width: 36rem;
  height: 3.55rem;
  border-bottom: solid 0.1rem #b6b6b6;
  flex-shrink: 0;
}
.Manager_Main_Content .user_part .usr_info .info .ing .ing_part {
  width: 100%;
  height: 3.15rem;
  display: flex;
  align-items: center;
}
.Manager_Main_Content .user_part .usr_info .info .ing .ing_part .ing_label {
  margin: 0rem 22rem 0.05rem 0.95rem;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.1725;
  text-transform: uppercase;
  color: #767676;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.Manager_Main_Content .user_part .usr_info .info .ing .ing_part .ing_output {
  margin: 0.75rem 1rem 0rem 0rem;
  text-align: right;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.1725;
  text-transform: uppercase;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.Manager_Main_Content .user_part .usr_info .info .ing .ing_part .ing_txt {
  margin-top: 1.15rem;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.1725;
  text-transform: uppercase;
  color: #767676;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.Manager_Main_Content .user_part .usr_info .select_button {
  width: 29.2rem;
  height: 5.6rem;
  position: absolute;
  left: 4.6rem;
  top: 71.3rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #baceb0;
  border-radius: 3rem;
  border: none;
}
.Manager_Main_Content .user_part .news {
  width: 98.9rem;
  height: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.Manager_Main_Content .user_part .news .news_part {
  margin-bottom: 3.1rem;
  box-sizing: border-box;
  padding: 1.4rem 3.1rem 2.801rem 3.1rem;
  width: 98.7rem;
  background-color: rgba(217, 239, 226, 0.200000003);
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.Manager_Main_Content .user_part .news .news_part .title {
  margin: 0rem 79rem 2.099rem 0rem;
  width: calc(100% - 79rem);
  display: flex;
  align-items: center;
}
.Manager_Main_Content .user_part .news .news_part .title .news_txt {
  margin-left: 1.2rem;
  margin-bottom: 0.2rem;
  display: flex;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #767676;
  font-family: Merge One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.Manager_Main_Content .user_part .news .news_part .news_descript {
  margin-left: 0.0055rem;
  max-width: 100rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #767676;
  font-family: Merge One, 'Source Sans Pro';
}
.Manager_Main_Content .user_part .news .news_part .news_descript .des_txt1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.5;
  color: #767676;
  font-family: Merge One, 'Source Sans Pro';
}
.Manager_Main_Content .user_part .news .news_part .news_descript .des_txt2 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #767676;
  font-family: Merge One, 'Source Sans Pro';
}
.Manager_Main_Content .user_part .news .selected {
  width: 100%;
  height: 59.7rem;
  position: relative;
  flex-shrink: 0;
}
.Manager_Main_Content .user_part .news .selected .selected_box {
  width: 98.7rem;
  height: 59.5rem;
  position: absolute;
  left: 0;
  top: 0.2rem;
  background-color: rgba(217, 239, 226, 0.150000006);
  border-radius: 1.5rem;
}
.Manager_Main_Content .user_part .news .selected .title_part {
  box-sizing: border-box;
  padding: 1.638rem 63.1rem 1.762rem 1.899rem;
  width: 98.7rem;
  height: 6.9rem;
  position: absolute;
  left: 0.2rem;
  top: 0;
  display: flex;
  align-items: center;
  background-color: rgba(143, 188, 143, 0.8000000119);
  border-radius: 1.5rem;
}
.Manager_Main_Content .user_part .news .selected .title_part .title {
  margin-right: 0.901rem;
  display: flex;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.155;
  color: #ffffff;
  font-family: Yeseva One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.Manager_Main_Content .user_part .news .selected .title_part .descrpt {
  margin-top: 0.9102rem;
  display: flex;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.155;
  color: #ffffff;
  font-family: Yeseva One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.Manager_Main_Content .user_part .news .selected .left {
  width: 15.5rem;
  height: 7.6rem;
  position: absolute;
  left: 12.9rem;
  top: 43.7rem;
  row-gap: 1.4rem;
  display: flex;
  flex-direction: column;
}
.Manager_Main_Content .user_part .news .selected .l_img_box {
  box-sizing: border-box;
  padding: 12.331rem 19.237rem 12.661rem 19.276rem;
  width: 46.125rem;
  height: 29.7rem;
  position: absolute;
  left: 2.3rem;
  top: 11rem;
  border: solid 0.2rem #cccccc;
  background-color: #fcfcfc;
}
.Manager_Main_Content .user_part .news .selected .l_img_box .l_img {
  width: 7.6128rem;
  height: 4.7085rem;
  object-fit: contain;
  vertical-align: top;
}
.Manager_Main_Content .user_part .news .selected .left .name {
  margin: 0rem 1.7rem 0rem 0.8rem;
  width: calc(100% - 2.5rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.Manager_Main_Content .user_part .news .selected .left .name .namelabel {
  margin-right: 4.5rem;
  text-align: right;
  display: flex;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.155;
  color: #000000;
  font-family: Yeseva One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.Manager_Main_Content .user_part .news .selected .left .name .nametext {
  display: flex;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.155;
  color: #000000;
  font-family: Yeseva One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.Manager_Main_Content .user_part .news .selected .left .price {
  margin-right: 2.5rem;
  width: calc(100% - 2.5rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.Manager_Main_Content .user_part .news .selected .left .price .pricelabel {
  margin-right: 4.5rem;
  text-align: right;
  display: flex;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.155;
  color: #000000;
  font-family: Yeseva One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.Manager_Main_Content .user_part .news .selected .left .price .pricetext {
  display: flex;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.155;
  color: #000000;
  font-family: Yeseva One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.Manager_Main_Content .user_part .news .selected .left .person {
  margin-left: 1.1rem;
  width: calc(100% - 1.1rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.Manager_Main_Content .user_part .news .selected .left .person .personlabel {
  margin-right: 4.5rem;
  text-align: right;
  display: flex;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.155;
  color: #000000;
  font-family: Yeseva One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.Manager_Main_Content .user_part .news .selected .left .person .persontext {
  display: flex;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.155;
  color: #000000;
  font-family: Yeseva One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.Manager_Main_Content .user_part .news .selected .r_img_box {
  box-sizing: border-box;
  padding: 12.331rem 19.251rem 12.661rem 19.261rem;
  width: 46.125rem;
  height: 29.7rem;
  position: absolute;
  left: 50.5rem;
  top: 11rem;
  border: solid 0.2rem #cccccc;
  background-color: #fcfcfc;
}
.Manager_Main_Content .user_part .news .selected .r_img_box .r_img {
  width: 7.6128rem;
  height: 4.7085rem;
  object-fit: contain;
  vertical-align: top;
}
.Manager_Main_Content .user_part .news .selected .right {
  width: 15.5rem;
  height: 7.6rem;
  position: absolute;
  left: 66.2rem;
  top: 43.7rem;
  row-gap: 1.4rem;
  display: flex;
  flex-direction: column;
}
.Manager_Main_Content .user_part .news .selected .right .name {
  margin: 0rem 1.7rem 0rem 0.8rem;
  width: calc(100% - 2.5rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.Manager_Main_Content .user_part .news .selected .right .name .namelabel {
  margin-right: 4.5rem;
  text-align: right;
  display: flex;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.155;
  color: #000000;
  font-family: Yeseva One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.Manager_Main_Content .user_part .news .selected .right .name .nametext {
  display: flex;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.155;
  color: #000000;
  font-family: Yeseva One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.Manager_Main_Content .user_part .news .selected .right .price {
  margin-right: 2.5rem;
  width: calc(100% - 2.5rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.Manager_Main_Content .user_part .news .selected .right .price .pricelabel {
  margin-right: 4.5rem;
  text-align: right;
  display: flex;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.155;
  color: #000000;
  font-family: Yeseva One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.Manager_Main_Content .user_part .news .selected .right .price .pricetext {
  display: flex;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.155;
  color: #000000;
  font-family: Yeseva One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.Manager_Main_Content .user_part .news .selected .right .person {
  margin-left: 1.1rem;
  width: calc(100% - 1.1rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.Manager_Main_Content .user_part .news .selected .right .person .personlabel {
  margin-right: 4.5rem;
  text-align: right;
  display: flex;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.155;
  color: #000000;
  font-family: Yeseva One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.Manager_Main_Content .user_part .news .selected .right .person .persontext {
  display: flex;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.155;
  color: #000000;
  font-family: Yeseva One, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
