
html {
  font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}

.Login_Content {
  box-sizing: border-box;
  padding: 27.1rem 55.6rem;
  width: 100%;
  height: 98.2rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.Login_Content .Form {
  width: 100%;
  height: 100%;
  position: relative;
}
.Login_Content .Form .sign_in {
  width: 12.5rem;
  height: 4.7rem;
  position: absolute;
  left: 13.7303rem;
  top: 3.4rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.Login_Content .Form .id_label {
  width: 3.7rem;
  height: 2.4rem;
  position: absolute;
  left: 0;
  top: 14.9rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.Login_Content .Form .id_input {
  box-sizing: border-box;
  padding: 1rem 1rem 1.1rem 1rem;
  width: 39.9003rem;
  height: 4rem;
  position: absolute;
  left: 0;
  top: 18.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #121212;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #a5a5a5;
  background-color: #ffffff;
  border-radius: 0.4rem;
}
.Login_Content .Form .password_label {
  width: 4.9rem;
  height: 2.4rem;
  position: absolute;
  left: 0;
  top: 24.3rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.Login_Content .Form .password_input {
  box-sizing: border-box;
  padding: 1rem 1rem 1.1rem 1rem;
  width: 39.9003rem;
  height: 4rem;
  position: absolute;
  left: 0;
  top: 28.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #121212;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #a5a5a5;
  background-color: #ffffff;
  border-radius: 0.4rem;
}
.Login_Content .Form .login_btn {
  width: 39.9003rem;
  height: 4rem;
  position: absolute;
  left: 0;
  top: 37rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1725;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #baceb0;
  border-radius: 0.4rem;
  border: none;
}
.Login_Content .Form .new_member {
  width: 3.9rem;
  height: 1.9rem;
  position: absolute;
  left: 17.2rem;
  top: 42.1rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.1725;
  color: #6b8e23;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.Login_Content .Form .new_member .new_member_register{
  text-align: center;
  font-size: 1.6rem;
  color: #6b8e23;
  font-family: Roboto, 'Source Sans Pro';
}



label {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  padding: 0.2em 0.4em;
  font-family: Inter, 'Source Sans Pro';
}

[type="radio"], span {
  vertical-align: middle;
}

[type="radio"] {
  appearance: none;
  border: max(2px, 0.1em) solid gray;
  border-radius: 50%;
  width: 1.25em;
  height: 1.25em;
  transition: border 0.5s ease-in-out;
}

[type="radio"]:checked {
  border: 0.4em solid #ff9292;
}

[type="radio"]:focus-visible {
  outline-offset: max(2px, 0.1em);
  outline: max(2px, 0.1em) dotted #ff9292;
}

[type="radio"]:hover {
  box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
  cursor: pointer;
}

[type="radio"]:hover + span {
  cursor: pointer;
}

/* Global CSS */
fieldset {
  position: absolute;
  left: 0;
  top: 11.3rem;
  align-items: flex-start;
  display: flex;
  border: none;
  margin: 0;
}